<html>
<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="Tetris"/>
  <meta property="og:image" content="<%= request.base_url %>/images/tetris.png"/>
  <title>Tetris</title>

  <script src="javascripts/lib/underscore.js"></script>
  <script src="javascripts/lib/jquery.js"></script>

  <script src="javascripts/Piece.js"></script>
  <script src="javascripts/Board.js"></script>
  <script src="javascripts/Tetris.js"></script>
  <script src="javascripts/main.js"></script>

  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <%= yield %>
  <a href="https://github.com/brunops/tetris" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45729973-1', 'tetristdd.herokuapp.com');
    ga('send', 'pageview');
  </script>
</body>
</html>
