<html>
<head>
  <meta charset="UTF-8">
  <title>Tetris</title>

  <script src="javascripts/lib/underscore.js"></script>
  <script src="javascripts/lib/jquery.js"></script>

  <script src="javascripts/Piece.js"></script>
  <script src="javascripts/Board.js"></script>
  <script src="javascripts/Tetris.js"></script>
  <script src="javascripts/main.js"></script>

  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <%= yield %>
</body>
</html>
